<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" id="WebApp_ID" version="6.0">
  <display-name>AA</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.jsp</welcome-file>
    <welcome-file>default.htm</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Log</display-name>
    <servlet-name>Log</servlet-name>
    <servlet-class>Log.Log</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Log</servlet-name>
    <url-pattern>/log</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetails</display-name>
    <servlet-name>CustomerDetails</servlet-name>
    <servlet-class>customerdetails.CustomerDetails</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetails</servlet-name>
    <url-pattern>/customerdetails</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Customer</display-name>
    <servlet-name>Customer</servlet-name>
    <servlet-class>customervalue.Customer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Customer</servlet-name>
    <url-pattern>/customer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerDetailsDisplay</display-name>
    <servlet-name>CustomerDetailsDisplay</servlet-name>
    <servlet-class>customer1.CustomerDetailsDisplay</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerDetailsDisplay</servlet-name>
    <url-pattern>/customerdetailsdisplay</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeleteCustomer</display-name>
    <servlet-name>DeleteCustomer</servlet-name>
    <servlet-class>customer1.DeleteCustomer</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeleteCustomer</servlet-name>
    <url-pattern>/deletecustomer</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CustomerUpdate</display-name>
    <servlet-name>CustomerUpdate</servlet-name>
    <servlet-class>customer.CustomerUpdate</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CustomerUpdate</servlet-name>
    <url-pattern>/customerupdate</url-pattern>
  </servlet-mapping>
</web-app>